/code/gal_lens/gal_qso
/code/gal_lens/mckq
/code/final_images/gout
/code/gal_lens/fpar*
/code/gal_lens/gout/gglens*
/code/gal_lens/mckg/gllens*
/code/gal_lens/mckg/gl*
/code/gal_lens/mckg/out*
/code/gal_lens/mckg/src*
/code/gal_lens/mckg/tmp*
/code/gal_lens/mckg/tp*
/code/gal_lens/intmpar*
/code/gal_lens/uniq*
/code/gal_lens/gout/**.fits
/code/final_images/imdir/*
/code/final_images/Final_Output/*
/code/final_images/fitsfiles/*
/code/final_images/outfits/*
/code/final_images/outfits1/*
**/.DS_Store
*.pyc
*/.DS_Store
*txt
*.dat
.DS_Store
